# Exemplo de variáveis (Copie este arquivo e renomeie para .env)
POSTGRES_USER=usuario_exemplo
POSTGRES_PASSWORD=senha_exemplo
POSTGRES_DB=banco_exemplo

DATABASE_URL="postgresql://usuario_exemplo:senha_exemplo@localhost:5432/banco_exemplo?schema=public"
JWT_SECRET=chave_secreta_aqui